{% extends "base.html" %}

{% block title %}Chouflitor7 - Matchs complets{% endblock %}

{% block content %}
<h1>Matchs complets</h1>

{% if matches %}
    <ul class="match-list">
    {% for match in matches %}
        <li class="match-item">
            <p>Date: {{ match.date_time.strftime('%d-%m-%Y %H:%M') }}</p>
            <p>Joueurs: 4 / 4</p>
            <p>Niveau: {{ match.level_present }}</p>
            <p>Prix: {{ match.rental_price }} TND par joueur</p>
        </li>
    {% endfor %}
    </ul>
{% endif %}
{% endblock %}